[submodule "third_party/curl"]
	path = third_party/curl
	url = https://github.com/curl/curl.git

[submodule "third_party/gumbo-parser"]
    path = third_party/gumbo-parser
    url = https://github.com/google/gumbo-parser.git

